# Ignore node_modules for frontend and backend
node_modules/

# Ignore environment files for frontend and backend
.env

# Ignore build and cache directories
dist/
build/
.cache/

# Ignore operating system files
.DS_Store
Thumbs.db
